<div class="products-container">
    <h1>Products</h1>

    <div class="form-container">
        <h2>Registrar Producto</h2>
        <form (ngSubmit)="registrarProducto()">
            <label>
                Nombre:
                <input [(ngModel)]="nuevoProducto.nombre" name="nombre" required />
            </label>
            <label>
                Cantidad:
                <input type="number" [(ngModel)]="nuevoProducto.cantidad" name="cantidad" required />
            </label>
            <label>
                Precio:
                <input type="number" [(ngModel)]="nuevoProducto.precio" name="precio" required />
            </label>
            <label>
                Tipo:
                <select [(ngModel)]="nuevoProducto.tipo" name="tipo" required>
                    <option value="Component">Componente PC</option>
                    <option value="Electronics">Periferico</option>
                </select>
            </label>
            <label>
                Descripción:
                <input [(ngModel)]="nuevoProducto.descripcion" name="descripcion" required />
            </label>
            <button type="submit">Registrar</button>
        </form>
    </div>

    <div class="form-container">
        <h2>Actualizar Stock</h2>
        <form (ngSubmit)="actualizarStock()">
            <label>
                ID del Producto:
                <input type="number" [(ngModel)]="idProducto" name="idProducto" required />
            </label>
            <label>
                Nueva Cantidad:
                <input type="number" [(ngModel)]="nuevaCantidad" name="nuevaCantidad" required />
            </label>
            <button type="submit">Actualizar</button>
        </form>
    </div>

    <div class="filters-container">
        <h2>Filtros</h2>
        <label>
            Filtrar por Nombre:
            <input [(ngModel)]="nombreFiltro" name="nombreFiltro" />
        </label>
        <label>
            Filtrar por Tipo:
            <select [(ngModel)]="tipoFiltro" name="tipoFiltro">
                <option value="">Todos</option>
                <option value="ProductoComponentePC">Componente PC</option>
                <option value="ProductoElectronico">Periferico</option>
            </select>
        </label>
        <button (click)="filtrar()">Filtrar</button>
        <button (click)="obtenerProductosObsoletos()">Obtener Productos Obsoletos</button>
    </div>

    <div class="products-list">
        <h2>Lista de Productos</h2>
        <div *ngFor="let product of products" class="product-card">
            <h3>{{ product.nombre }}</h3>
            <p>Precio: {{ product.precio }}</p>
            <p>Stock: {{ product.cantidad }}</p>
            <p>{{ product.descripcion }}</p>
        </div>
    </div>
</div>